<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
 
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306</property>
  <property name="hibernate.jdbc.batch_size">20</property>
  <property name="hibernate.connection.username">vp_user</property>
  <property name="hibernate.connection.password">67utEdh5g667utrg6EWY</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
  
  <property name="hibernate.default_schema">autobv</property>
  
  <property name="hibernate.c3p0.acquire_increment">1</property>
  <property name="hibernate.c3p0.idle_test_period">100</property>
  <property name="hibernate.c3p0.max_size">10</property>
  <property name="hibernate.c3p0.max_statements">10</property>
  <property name="hibernate.c3p0.min_size">10</property>
  <property name="hibernate.c3p0.timeout">100</property>

  <!-- Drop and re-create the database schema on startup --> 
  <!--<property name="hbm2ddl.auto">create</property>-->
  <mapping class="m2vps.scraper.fw.VehicleData"/>
  <mapping class="m2vps.scraper.fw.VehicleYearModelData"/>
  <mapping class="m2vps.scraper.fw.VehicleDataTop10"/>
  <mapping class="m2vps.scraper.fw.VehicleDataSystem"/>
 </session-factory>
</hibernate-configuration>
